@font-face {
    font-family: Ubuntu-Regular;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
  }
  
  @font-face {
    font-family: Ubuntu-Medium;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
  }
  
  :root {
    /* Primary colors */
  
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
  
    /* Neutral colors */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--magnolia);
    font-family: Ubuntu-Regular, sans-serif;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 600px;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 10px 30px var(--light-gray);
  }
  
  /* Sidebar Start */
  
  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
    width: 275px;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    border-radius: 0.75rem;
  }
  
  .sidebar-container > div > p:first-child {
    float: left;
    font-family: Ubuntu-Medium, sans-serif;
    color: var(--magnolia);
    text-align: center;
    line-height: 14px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border: solid 1px var(--light-blue);
    border-radius: 100%;
    margin-right: 1rem;
  }
  
  .sidebar-container > div > p:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--light-blue);
    margin-top: 0;
    margin-bottom: 0.12rem;
  }
  
  .sidebar-container > div > p:nth-child(3) {
    text-transform: uppercase;
    color: white;
    font-family: Ubuntu-Bold, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9rem;
  }
  
  .sidebar-container > div > p.active-tab-number {
    background-color: var(--light-blue);
    color: black;
  }
  
  /* Sidebar End */
  
  fieldset {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: none;
    width: 450px;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin: 0 auto;
  }
  
  fieldset > div:first-child {
    margin-bottom: 2.5rem;
  }
  
  fieldset h1 {
    color: var(--marine-blue);
    font-family: Ubuntu-Medium, sans-serif;
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }
  
  fieldset p {
    color: var(--cool-gray);
  }
  
  .active-tab {
    display: flex;
  }
  
  /* Step 1 Start */
  
  .user-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.4rem;
    width: 100%;
    position: relative;
  }
  
  .user-data input {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    font-family: Ubuntu-Medium, sans-serif;
    color: var(--marine-blue);
  }
  
  .user-data input:focus {
    outline: solid 1px var(--purplish-blue);
  }
  
  /* Error message for missing input */
  .user-data > label.missing-input > span::after {
    content: "This field is required";
    color: var(--strawberry-red);
    font-family: Ubuntu-Medium, sans-serif;
    position: absolute;
    right: 0;
  }
  
  /* Outline for missing input */
  .user-data > label.missing-input > input {
    border: solid 1px var(--strawberry-red);
  }
  
  /* Step 1 End */
  /* Step 2 Start */
  
  .plan-selection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }
  
  .plan-selection > label {
    width: 138px;
    /* height: 160px; */
    padding: 1rem;
    border: solid 1px var(--light-gray);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .plan-selection > label:hover {
    border: solid var(--marine-blue) 1px;
  }
  
  .plan-selection > label > img {
    margin-bottom: 3rem;
  }
  
  .plan-selection > label > div > p:nth-child(1) {
    color: var(--marine-blue);
    font-family: Ubuntu-Medium;
    margin-bottom: 0.2rem;
  }
  
  .plan-selection > label > div > p:nth-child(3) {
    color: var(--marine-blue);
    font-size: 0.8rem;
    margin-top: 0.2rem;
    display: none;
  }
  
  .plan-selection input[type="radio"]:checked + label {
    background-color: var(--alabaster);
    border: solid var(--marine-blue) 1px;
  }
  
  .plan-selection input[type="radio"] {
    display: none;
  }
  
  .billing-period-selector {
    width: 100%;
    height: 48px;
    background-color: var(--alabaster);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .billing-period-selector input {
    height: 0;
    width: 0;
    display: none;
  }
  
  .billing-period-selector > label {
    font-family: Ubuntu-Medium;
    cursor: pointer;
  }
  
  .billing-period-selector input + label {
    display: inline-block;
    cursor: pointer;
    width: 38px;
    height: 20px;
    background: var(--marine-blue);
    border-radius: 10px;
    position: relative;
    order: 2;
  }
  
  .billing-period-selector > input + label:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    left: 4px;
    top: 4px;
    border-radius: 1rem;
    transition: 0.3s;
    background-color: var(--alabaster);
  }
  
  .billing-period-selector > input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  .billing-period-selector > input ~ label:nth-of-type(2) {
    order: 1;
    color: var(--marine-blue);
  }
  
  .billing-period-selector > input:checked ~ label:nth-of-type(2) {
    color: var(--cool-gray);
  }
  
  .billing-period-selector > input ~ label:nth-of-type(3) {
    order: 3;
    color: var(--cool-gray);
  }
  
  .billing-period-selector > input:checked ~ label:nth-of-type(3) {
    color: var(--marine-blue);
  }
  
  /* Step 2 End */
  /* Step 3 Start */
  
  .add-ons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .add-ons-container h2 {
    color: var(--marine-blue);
  }
  
  .add-ons-container > label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 80px;
    border: solid var(--light-gray) 1px;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .add-ons-container > label:hover {
    border-color: var(--purplish-blue);
  }
  
  label.highlight {
    border-color: var(--purplish-blue);
    background-color: var(--alabaster);
  }
  
  .add-ons-container > label > input {
    width: 1.3rem;
    height: 1.3rem;
    appearance: none;
    border: solid var(--light-gray) 1px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-ons-container > label > input:checked {
    appearance: auto;
    accent-color: var(--purplish-blue);
  }
  
  .add-ons-container > label > :last-child {
    margin-left: auto;
    color: var(--purplish-blue);
    opacity: 0.8;
    font-family: Ubuntu-Medium, sans-serif;
  }
  
  /* Step 3 End */
  /* Step 4 Start */
  
  .summary-table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--alabaster);
    border-radius: 0.5rem;
    padding: 1.3rem;
  }
  
  .summary-table > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .summary-table h2 {
    margin-bottom: 0.3rem;
    color: var(--marine-blue);
  }
  
  #change-plan-link {
    text-decoration: underline;
    cursor: pointer;
  }
  
  #change-plan-link:hover {
    color: var(--purplish-blue);
  }
  
  .summary-table hr {
    border: none;
    border-top: 1px solid var(--light-gray);
  }
  
  #summary-plan-price {
    font-family: Ubuntu-Bold;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .add-on-price {
    color: var(--marine-blue);
    font-size: 0.9rem;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
  }
  
  .total > :last-child {
    color: var(--purplish-blue);
    font-family: Ubuntu-Medium;
    font-size: 1.25rem;
  }
  
  /* Step 4 End */
  /* Step 5 Start */
  
  .thank-you-tab {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .thank-you-tab img {
    margin-bottom: 1.5rem;
  }
  
  .thank-you-tab p {
    text-align: center;
    font-size: 1.03rem;
    line-height: 150%;
    margin-bottom: 1rem;
  }
  
  /* Step 5 End */
  
  /* Buttons */
  
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }
  
  button.go-back {
    border: none;
    background-color: inherit;
    color: var(--cool-gray);
    font-family: Ubuntu-Medium, sans-serif;
    cursor: pointer;
  }
  
  button.go-back:hover {
    color: var(--marine-blue);
  }
  
  button.next-step {
    background-color: var(--marine-blue);
    font-family: Ubuntu-Medium, sans-serif;
    color: var(--magnolia);
    border: none;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  button.next-step:hover {
    opacity: 0.8;
  }
  
  button[type="submit"] {
    background-color: var(--purplish-blue);
    border: none;
    border-radius: 0.5rem;
    padding: 0.9rem 2rem;
    color: var(--alabaster);
    font-family: Ubuntu-Medium, sans-serif;
  }
  
  button[type="submit"]:hover {
    opacity: 0.6;
  }
  
  /* Buttons End */
  
  .attribution {
    position: absolute;
    bottom: 0;
  }
  
  @media screen and (max-width: 720px) {
    form {
      flex-direction: column;
      width: 100vw;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      box-shadow: none;
    }
  
    .sidebar-container {
      width: 100%;
      height: 170px;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
      position: relative;
      top: 0;
      left: 0;
      background-image: url("assets/images/bg-sidebar-mobile.svg");
      border-radius: 0;
    }
  
    .sidebar-container > div > :nth-child(2),
    .sidebar-container > div > :nth-child(3) {
      display: none;
    }
  
    fieldset {
      width: auto;
      position: relative;
      margin: 0 1rem;
      top: -72px;
      left: 0;
      background-color: var(--white);
      border-radius: 0.6rem;
      box-shadow: 0 10px 30px var(--light-gray);
    }
  
    fieldset > div:first-child {
      margin-bottom: 1.5rem;
    }
  
    fieldset > div:first-child,
    fieldset > div:nth-child(2) {
      padding: 0 1rem;
    }
  
    .buttons {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 0.7rem 1rem 1.5rem 1rem;
      box-shadow: 0 -10px 100px var(--light-gray);
  
    }
  
    .plan-selection {
      flex-direction: column;
      row-gap: 1rem;
    }
  
    .plan-selection > label {
      width: 100%;
      flex-direction: row;
    }
  
    .plan-selection > label > img {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
  